@{
    ViewBag.Title = "CreateLetter";
}



<link href="~/bootstrap-3.3.4-dist/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap-3.3.4-dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/bootstrap-3.3.4-dist/js/npm.js"></script>
<script src="~/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
<script src="~/bootstrap-3.3.4-dist/js/bootstrap.js"></script>
<html>
<body>
    

    <div class="col-sm-9" style="margin-left:180px; margin-right:220px ;margin-top:35px; border:hidden ; background-color:azure">

        <div id="ResumeCoverLetter">
            <div class="rcHeaderBoard" style="border:thick">

                <h2 class="rcTitle" style=" margin-left:12px ; font:bold">Create and Manage Your Cover Letters</h2>
                <div class="rcHBLeftContent col-sm-5">
                   <p>Make your resume stand out! On Monster, you can create as
                     many as five cover letters using different templates. 
                    Save your cover letters and use them as you apply for jobs.</p>
                    <br>  <a class="globalButton gbOrangeButton">Create A Cover Letter</a>
                    
                </div>

            </div>


        </div>
        <div class="col-sm-4" style="margin-left:70px ; margin-top:-50px">
            <h4 style="font-size:medium; font:bolder">Make Your Resume Searchable</h4>
            <ul>
                <li>
                    Think you're perfect for the job? Let them know why!
                     A cover letter is the best way to put a face on your resume.
                </li>
                <li>
                    You can showcase your talents and  interests, 
                    as well as highlight your experience and qualifications
                </li>
            </ul>
        </div>
        <div class="col-sm-2">

            <img src="~/Content/themes/base/images/c-headerboard-right-item1-bgN.png" />
        </div>

        <img src="~/Content/themes/base/images/rc-headerboard-bgBottom.png" />
    </div>

    <div class="col-sm-9" style="margin-left:180px; margin-right:220px ;margin-top:35px; border:hidden ; background-color:ActiveBorder">
        <div class="col-sm-4">
            <img style="margin-top:10px" src="~/Content/themes/base/images/images%20(1).jpg" />
        </div>
        <div class="col-sm-7">
            <h2 class="rcTitle" style=" margin-left:0px">Sample Cover Letters</h2>
            <span style="margin-top:-10px"> Browse Monster's collection of sample cover letters:</span>
            <div style="background-color:lightgray">
                <a href="#">Sales Cover Letter</a>
                <br>
                <span class="rcLcontentItem">
                    Not sure how to sell yourself for the job? Check out this sample cover letter for a sales job.
                </span>
                <br>

                <a href="#" style="margin-top:15px">Teacher Cover Letter</a>
                <br>
                <span class="rcLcontentItem">
                    Could your cover-letter writing skills use some extra help? 
                    If so, get ideas from this sample cover letter for an elementary school teacher.
                </span>
                <br>
                <a href="#" style="margin-top:15px">Admin Sample Cover Letter</a>
                <br>
                <span class="rcLcontentItem">
                    Here's an example of how an administrative assistant 
                    can use her cover letter to sell her skills and professional demeanor to employers.
                </span>
                <br>
                <a href="#" style="margin-top:15px">IT Cover Letter Sample</a>
                <br>
                <span class="rcLcontentItem">
                    You don't want your cover letter to read like the code you write. Get some inspiration from this sample cover letter.


                </span>
            </div>

        </div>
    </div>
    
</body>
</html>

